<main class="h-[100vh] w-full bg-lightPink overflow-y-scroll">
  <section style="background-image: url(../assets/images/background-pattern-mobile.svg);" class="absolute  md:hidden w-full h-[30vh] bg-bottom bg-cover">
  </section>
  <section class="h-[100vh] flex relative justify-center items-center">
    <section class="h-[80vh] min-w-[80%] max-w-[90%] rounded bg-white">
      <section class="flex items-center p-[20px]">
        <img src="../assets/images/icon-star.svg" alt="Star" class="h-[3vh]">
        <h1 class="text-[28px] font-WorkSans font-semibold mx-[10px]">FAQs</h1>
      </section>
      <section class="flex flex-wrap mx-[30px] font-semibold text-[22px] justify-around w-full">
        <p class="w-[40vh]">what is frontend mentor, and how will it help me?</p>
        <button><img src="../assets/images/icon-plus.svg" alt="PlusIcon" class="h-[6vh]"></button>
        
      </section>
    </section>
  </section>
</main>